@media (max-width: 1000px) {
    body {
        background-color: #ff0000;
    }
}

@media (max-width: 500px) {
    body {
        background-color: #000000;
        color: #ffffff;
    }
}

@media (max-width: 1000px) {
    body {
        background-color: #ff0000;
    }
}